---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import Main from '../../components/Main.astro'
import '../../styles/global.css'
import H1 from "../../components/H1.astro";
import TableOfContent from "../../components/TableOfContent.astro";

export const getStaticPaths = async () => {
    const posts = await getCollection("posts");
    const paths = posts.map((post) => {
        return {
            params: {  // Fixing typo: 'prams' -> 'params'
                slug: post.slug,
            },
            props: {
                post
            }
        };
    });
    return paths;
};

type Props = {
    post: CollectionEntry<"posts">  // Changed from posts array to single post
}

const { post } = Astro.props;
const {Content, headings} = await post.render();
---

<Layout title={post.data.title}>
    <Main>
        <a href="/blog" class="text-zinc-500 text-2xl mb-16 underline block">Back to all Blogs</a>
        <H1 text={post.data.title}/>
        <img
                src={`/images/${post.data.image.split('/').pop()}`}
                alt={post.data.title}
                class="rounded-2xl shadow-xl aspect-thumbnail object-cover"
                style="margin-bottom: 4rem;"
        />
        <div class="relative flex gap-x-12">
            <div class="prose prose-2xl overflow-visible relative">
                <Content />
            </div>
            <TableOfContent headings={headings}/>
        </div>
    </Main>
</Layout>