---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import Main from '../../components/Main.astro'
import '../../styles/global.css'


export const getStaticPaths = async () => {
    const posts = await getCollection("posts");
    const paths = posts.map((post) => {
        return {
            params: {  // Fixing typo: 'prams' -> 'params'
                slug: post.slug,
            },
            props: {
                post
            }
        };
    });
    return paths;
};

type Props = {
    post: CollectionEntry<"posts">  // Changed from posts array to single post
}

const { post } = Astro.props;  // Changed from posts to post
---

<Layout title={post.data.title}>
    <Main>
        <a href="/blog" class="text-zinc-500 text-2xl mb-16 underline">Back to all Blogs</a>
    </Main>
</Layout>