---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
import H1 from "../components/H1.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Welcome to Astro">
	<Main>
		<H1 text="Welcome to Rhythm Nation"/>
		<p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">Join the community and learn from music producers and Enthusiasts</p>
		<hr class="w-full border border-teal-900 mb-16 max-sm:mb-1" />
	</Main>
</Layout>
